.bg-navigationbar {
    position: fixed;
    display: flex;
    z-index: 9999;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}