.bg-navigationbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .container {
        position: relative;
        padding: 0 15px;
        width: 1440px;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
}