.Login-background {
  background-image: url("../../assets/login-imgs/bgLogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  height: 876px;

  position: relative;

}
