@import "../../styles/colors.scss";

.SignIn-Box {
  background: #ffff;
  width: 600px;
  height: 100px;
  position: relative;
  top: 50%;

  margin: 0 auto;

  h3 {
    text-align: center;
    color: $primary-blue;
  }
}
