{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "react-app",
        "prettier",
        "plugin:jest-dom/recommended"
    ],
    "ignorePatterns": ["build/*"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "prettier", "testing-library", "jest-dom"],
    "rules": {
        "complexity": ["error", 22],
        "camelcase": "error",
        "prettier/prettier": [
            "warn",
            {
                "arrowParens": "avoid",
                "semi": true,
                "trailingComma": "none",
                "endOfLine": "lf",
                "tabWidth": 4,
                "printWidth": 80,
                "useTabs": false
            }
        ],
        "no-console": "warn",
        "testing-library/await-async-query": "error",
        "testing-library/no-await-sync-query": "error",
        "testing-library/no-debug": "warn",
        "testing-library/no-dom-import": "off",
        "jest-dom/prefer-checked": "error",
        "jest-dom/prefer-enabled-disabled": "error",
        "jest-dom/prefer-required": "error",
        "jest-dom/prefer-to-have-attribute": "error"
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/**/*.[jt]s?(x)",
                "**/?(*.)+(spec|test).[jt]s?(x)"
            ],
            "extends": ["plugin:testing-library/react"]
        }
    ]
}
