version: 2.1
orbs:
    node: circleci/node@4.3.0
jobs:
    build:
        executor:
            name: node/default
            tag: "13.14"
        steps:
            - checkout
            - node/install-packages
            - run:
                  name: test & build
                  command: npm run test && npm run build
            - store_test_results
            - run: mkdir -p workspace
            - run: cp -r ./build ./workspace && cd workspace && ls
              # Persist the specified paths (workspace/echo-output) into the workspace for use in downstream job.
            - persist_to_workspace:
                  # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
                  # taken to be the root directory of the workspace.
                  root: workspace
                  # Must be relative path from root
                  paths:
                      - build/*
