.home-page {
    background-image: url("../../assets/planthor-hompage-imgs/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;

    height: 839px;

    @media (min-width: 1601px) {
        height: 1110px;
    }

    &__content {
        position: absolute;
        top: 245px;
        width: 557px;


        h2 {
            font-weight: 800;

            text-align: justify;
            color: #222;
            text-align: left;
            font-size: 84px;
        }

        p {
            display: flex;
            text-align: justify;
            text-align: left;
            font-weight: 500;
            
            font-size: 25px;
            color: #222;
        }
    }
}