//Planthor-primary-color
$primary-blue: rgba(30, 130, 197);

//Planthor-secondary-color
$secondary-blue: #4a68b1;

//Text-on-primary-and-secondary
$text: rgb(255, 255, 255);

//Sub-color
$primary-dark-red: rgba(87, 14, 14);
$primary-light-red: rgba(178, 36, 37);
$primary-black: rgba(23, 23, 23);

//Invisible
$transparent: rgba(255, 255, 255, 0);

//Error
$border-error: #ac6259;
$error-bg-input: rgba(250, 177, 160, 0.4);
$error-text: #d63031;
$color-error: #ff5656;
$color-warning: #ffc107;

//Black
$black-100: rgba(0, 0, 0, 1);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);

//White
$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
