  $color-blue-100: #DAECFF;
  $color-blue-200: #b6daff;
  $color-blue-400: #3399FF;
  $color-blue-500: #007FFF;
  $color-blue-600: #0072E5;
  $color-blue-900: #003A75;


  $color-grey-50: #f6f8fa;
  $color-grey-100: #eaeef2;
  $color-grey-100: #eaeef2;
  $color-grey-200: #d0d7de;
  $color-grey-300: #afb8c1;
  $color-grey-400: #8c959f;
  $color-grey-500: #6e7781;
  $color-grey-600: #57606a;
  $color-grey-700: #424a53;
  $color-grey-800: #32383f;
  $color-grey-900: #24292f;