$grid-break-point: (
    // Extra small screen / phone
    xs: 360px,
    // Small screen / phone
    sm: 576px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1100px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

.container {
    margin: 0 auto;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: map-get($grid-break-point,"sm")) {
        max-width: map-get($container-max-width: "sm");
    }

    @media (min-width: map-get($grid-break-point,"md")) {
        max-width: map-get($container-max-width: "md");
    }

    @media (min-width: map-get($grid-break-point,"lg")) {
        max-width: map-get($container-max-width: "lg");
    }
    
    @media (min-width: map-get($grid-break-point,"xl")) {
        max-width: map-get($container-max-width: "xl");
    }
    
    @media (min-width: map-get($grid-break-point,"xl")) {
        max-width: map-get($container-max-width: "xl");
    }
}
