@import"../../styles/fonts.scss";

.home-page {
    background-image: url("../../assets/planthor-hompage-imgs/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    height: 839px;

    &__content {
        position: absolute;
        top: 200px;
        width: 557px;;
        h2 {
            @include Montserrat-ExtraBold;
            text-align:justify;
            font-size: 84px;
            color: #222;
            text-align: left;
        }
        p{
            display:flex;
            text-align:justify;
            text-align: left;
            @include Montserrat-Medium;
            font-size: 25px;
            color: #222;
        }
    }
}