@import"../../../styles/fonts.scss";

.list-menu {
  position: absolute;
  box-sizing: border-box;
  left: 220px;

  ul {
    display: flex;
    text-decoration: none;

    li {

      .nav-link {
        color: #000;
        @include Montserrat-Semibold;
        padding: 1em 1em;
      }
    }
  }
}